.nav {
  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.nav--menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav--link {
  text-decoration: none;
  text-transform: uppercase;
  color: #2e2e2e;
}
